.header {
  z-index: 15;
  position: sticky;
  left: 0;
  top: 0;
  &__content {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_logo {
      padding: 10px 20px;
      font-size: var(--font-size-logo);
      a {
        color: var(--primary-black);
        text-decoration: none;
      }
    }
    &_navbar {
      align-items: center;
      display: flex;
      text-decoration: none;
      list-style-type: none;
      gap: 50px;
      padding: 20px;
      li {
        cursor: pointer;
        a {
          color: var(--primary-black);
          text-decoration: none;
          background: none;
          transition: 0.3s ease;
        }
        a:focus,
        a:hover,
        a:active {
          outline: none;
          color: var(--primary-red);
          transition: 0.3s ease;
          font-weight: bold;
        }
      }
    }
  }
}

.glass-effect {
  border-radius: 40px;

  background: var(--primary-opacity-white);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
}

@media (max-width: 825px) {
  .header__content {
    padding: 25px 0;
    &_logo {
      display: none;
    }
  }
}

@media (max-width: 825px) {
  .header__content {
    &_navbar {
      width: 100%;
      justify-content: center;
    }
    &_button {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .header__content_navbar {
    gap: 20px;
  }
}
