.ProjectCard {
  padding: 30px;
  background: var(--primary-opacity-white);
  border-radius: 30px;
  &__title {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    &_description {
      max-width: 400px;
    }
    &_left {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &_image {
      overflow: hidden;
      border-radius: 15px;
      width: 500px;
      img {
        width: 100%;
      }
    }
    &_skills {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      gap: 5px;
      .Skill {
        padding: 8px 15px;
        .Dot {
          display: none;
        }
      }
      .Skill:hover {
        background: var(--primary-red);
        color: var(--primary-white);
      }
    }
  }
}

@media (max-width: 1250px) {
  .ProjectCard__content {
    flex-direction: column-reverse;
    &_image {
      width: 100%;
    }
  }
}
