.ProjectCard {
  padding: 30px;
  background: var(--primary-opacity-white);
  border-radius: 30px;
  &__title {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    &_image {
      width: 50%;
      overflow: hidden;
      border-radius: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_skills {
      width: 50%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      .Skill {
        padding: 8px 15px;
        box-shadow: 0 0 4px var(--primary-grey);
        color: var(--primary-red);
        .Dot {
          display: none;
        }
      }
      .Skill:hover {
        background: var(--primary-red);
        color: var(--primary-white);
      }
    }
  }
}
