.About {
  &__content {
    padding: 40px;
    border-radius: 40px;
    background: var(--primary-opacity-white);
    display: flex;
    width: 100%;
    &_right {
      display: flex;
      width: 50%;
      position: relative;
      justify-content: flex-end;
      &-info {
        display: flex;
        flex-direction: column;
        text-align: end;
        gap: 30px;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        h3 {
          margin-bottom: 8px;
        }
      }

      &-img {
        right: 0;
        bottom: 0;
        width: 400px;
        position: absolute;
        left: 0;
        bottom: -40px;
      }
    }
    &_left {
      width: 50%;
      &-subHeading {
        margin-top: 12px;
      }
      &-fields {
        margin-top: 30px;
      }
      &-slogan {
        margin-top: 40px;
      }
      &-actions {
        margin-top: 60px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
      &-fields {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .About__content {
    flex-direction: column;
    &_left {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    &_right {
      margin-top: 30px;
      width: 100%;
      &-img {
        position: relative;
        left: 0;
      }
      &-info {
        width: 50%;
      }
    }
  }
}

@media (max-width: 530px) {
  .About__content {
    align-items: center;
    text-align: center;
    &_right {
      margin-top: 100px;
      &-img {
        left: -25%;
        width: 300px;
        object-fit: cover;
        position: absolute;
      }
    }
    &_left {
      &-actions {
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        .button {
          width: 100%;
        }
      }
      &-fields {
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 10px;
      }
    }
  }
}
