.TechStack {
  &__content {
    padding: 100px 0;
    &_technologies {
      display: flex;
      flex-flow: row wrap;
      margin-top: 40px;
      gap: 20px;
      &-block {
        border-radius: 40px;
        background: var(--primary-opacity-white);
        width: calc(50% - 10px);
        transition: 0.3s ease;
        border: 1px solid transparent;
        padding: 40px;
        &-skills {
          margin-top: 15px;
          display: flex;
          gap: 5px;
          flex-flow: row wrap;
        }
      }
      &-block:hover {
        border: 1px solid var(--primary-red);
        transition: 0.3s ease;
      }
    }
  }
}

@media (max-width: 768px) {
  .TechStack__content_technologies {
    &-block {
      width: 100%;
    }
  }
}
